body {
  color: rgb(31, 31, 31);
  background-color: #eef6fa;
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.btn {
  background-color: rgb(22, 22, 48);
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  color: #eee;
  cursor: pointer;
}

.btnDelete {
  padding: 10px 16px;
  background-color: #b50000;
}

img {
  width: 100%;
  height: auto;
}

.postTitleContainer {
  display: flex;
  justify-content: center;
}

.postTitle {
  font-size: 3rem;
  max-width: 500px;
  text-align: center;
}

.article {
  text-align: center;
  font-size: 1.15rem;
  line-height: 1.5rem;
  border: 3px solid #1f1f1f15;
  border-radius: 3px;
  min-height: 400px;
  padding: 15px;
  /* background: linear-gradient(to right, #169b6205 0%,#169b6205 33%,#ffffff05 33%,#ffffff05 66%,#ff883e05 66%,#ff883e05 100%); */
}

/* Main */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.mainContents {
  padding: 20px 0;
}

.image {
  filter: drop-shadow(0 44px 34px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: 5px;
}

.header {
  background-color: rgba(200, 216, 221, 0.3);
  padding: 10px;
}

.navTop {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}

.headerLogo {
  grid-area: logo;
  font-weight: 800;
  font-size: 30px;
  text-decoration: none;
  color: #447e9b;
}

.headerLogo:hover {
  text-decoration: underline;
}

.headerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 30px;
  padding: 0;
}

.headerNav ul li a {
  text-decoration: none;
  color: #1f1f1f;
  transition: .15s;
  font-size: 1.15rem;
}

.headerNav ul li a:hover {
  color: #1f1f1f75;
}

.headerNav ul a.active {
  font-weight: bold;
  text-decoration: underline;
}

.headerButton {
  grid-area: menu;
  display: flex;
  justify-content: end;
}

.searchBtn {
  padding: 5px 15px;
  border: none;
  background-color: white;
}

.searchBtn:hover {
  background: linear-gradient(to right, #169b6275 0%,#169b6275 33%,#ffffff75 33%,#ffffff75 66%,#ff883e75 66%,#ff883e75 100%);
}

.mainContents {
  margin-top: 40px;
}

.authorHeading {
  text-align: center;
  font-size: 3rem;
}

.authorHeading .lads {
  color: #447e9b;
}

.articlesHeading {
  font-size: 2rem;
  text-transform: uppercase;
}

.articleUl {
  padding: 0;
  margin: 0;
}

.articleUl li {
  list-style-type: none;
}

.articleUl li:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.articleUl li a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #1f1f1f;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 15px 0;
}

.pegination {
  color: #757575;
  font-size: 1.10rem;
  cursor: pointer;
  transition: .15s;
}

.articleListDate {
  font-size: .90rem;
  width: 175px;
  text-align: end;
}

.pegination:hover {
  color: black;
}

.footer {
  text-align: center;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

.footerAdmin {
  text-align: center;
  margin: 30px 0;
}

.linkToAdmin {
  text-decoration: none;
  color: #ffffff;
  background-color: #333;
  padding: 5px 30px;
  border: 1px solid #FF883E;
  cursor: pointer;
}

.copyRight {
  text-align: center;
  position: absolute;
  left: 50%;
  translate: -50% 50%;
}

/* Search */
#searchInput {
  font-size: 1rem;
  padding-left: 12px;
}

.searchBar {
  visibility: hidden;
  transform: translateY(-100px); 
  background: linear-gradient(to right, #169b62 0%,#169b62 33%,#ffffff 33%,#ffffff 66%,#ff883e 66%,#ff883e 100%);
  padding: 8px 0;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 1.15rem;
}

.searchBar.open {
  transform: translateY(0);
}

.searchBar input {
  margin: 0;
  padding: 8px;
}

#searchCloseBtn {
  position: absolute;
  top: 16px;
  right: 30px;
  color: black; 
  cursor: pointer;
}

#searchCloseBtn:hover {
  color: #1f1f1f
}

/* Lite extra css för admin sidorna */
.adminHeader {
  background: linear-gradient(to right, #169b62 0%,#169b62 33%,#ffffff 33%,#ffffff 66%,#ff883e 66%,#ff883e 100%);
}

.adminBody {
  background-color: #eef6fa;
}

.adminLogo {
  text-decoration: none;
  color: #169B62;
  background-color: white;
}

.adminLogo:hover {
  text-decoration: underline;
}

.admin {
  padding: 0;
  margin: 0;
}
/* .admin:nth-child(1) {
  color: #169B62;
}
.admin:nth-child(2) {
  color: #FFFFFF
}
.admin:nth-child(3) {
  color: #FF883E
} */

.adminTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminTextOrContent {
  font-size: 1.25rem;
}

#adminTextInput {
  font-size: 1em;
}

#adminTextArea {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  line-height: 1.5rem;
}

.adminPosts {
  padding: 0;
  margin: 0;
}

#a {
  display: flex;
  align-items: center;
}

.adminPostControls form {
  display: inline-block;
}

.adminPostControls .btn {
  display: inline-block;
  background-color: #333;
  color: #eee;
  border: 0;
  text-decoration: none;
  font-size: .8rem;
  padding: 4px 8px;
  line-height: 2;
}

.adminPostControls .deleteBtn {
  background-color: #b50000;
}

.adminPosts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

#signUp {
  display: none;
}

#noAccountYet,
#backToLogin {
  display: inline-block;
}

#noAccountYet {
  color: #169B62;
  transition: color .15s;
  cursor: pointer;
}

#noAccountYet:hover {
  color: #FF883E;
}

#backToLogin {
  display: none;
  color: #FF883E;
  transition: color .15s;
  cursor: pointer;
}

#backToLogin:hover {
  color: #169B62;
}

.logOut {
  text-decoration: none;
  background-color: #f7f7f775;
  padding: 5px 15px;
  display: grid;
  place-items: center;
  font-size: 1.15rem;
  color: black;
  border-radius: 2px;
}


@media screen and (max-width: 768px) {
  .copyRight {
    margin: 50px 0;
  }
}