<header class="header adminHeader">
  <div class="navTop">
    <a href="/" class="headerLogo adminLogo">
      <span class="admin">Ad</span><span class="admin">m</span><span class="admin">in</span>
    </a>
  
    <div class="headerButton">
      <a class="logOut" href="logout">
        Logout
      </a>
    </div>
  </div>

  <nav class="headerNav">
    <ul>
      <li><a href="/" class="">Home</a></li>
      <li><a href="/about" class="">About</a></li>
      <li><a href="/contact" class="">Contact</a></li>
      <li><a href="/mma" class="">MMA</a></li>
    </ul>
  </nav>
</header>