<div class="searchBar">
  <div class="container">
    <form action="/search" class="searchForm" role="search" method="POST">
      <input
      type="search"
      aria-label="Search"
      id="searchInput"
      name="searchTerm"
      placeholder="What ye lookin' for fella?"/>
    </form>
    <div id="searchCloseBtn">Close</div>
  </div>
</div>