<a href="/dashboard">&larr; Back</a>
<div class="adminTitle">
  <h2>View / Edit post</h2>
  <form action="/deletePost/<%= data._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" class="btnDelete btn">
  </form>

</div>

<form action="/editPost/<%= data._id %>?_method=PUT" method="POST">
  <label class="adminTextOrContent" for="title"><b>Title</b></label>
  <input id="adminTextInput" type="text" placeholder="Post Title" name="title" value="<%= data.title %>">

  <label class="adminTextOrContent" for="body"><b>Content</b></label>
  <textarea id="adminTextArea" name="body" cols="50" rows="10"><%= data.body %></textarea>

  <input type="submit" value="Update" class="btn">
</form>